.Comment {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: solid 1px #efefef;

    .Image {
        border-radius: 100%;
    }

    .Details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .Name {
            font-weight: 400;
            color: #3d3d3d;
        }

        .Date {
            font-size: 12px;
            color: #999;
        }

        .Text {
            font-size: 14px;
            color: #999;
        }
    }
}