.WriteComment {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .TextArea {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;

        textarea {
            font-family: Roboto;
            all: unset;
            padding: 10px;
            resize: vertical;
            flex: 1;
        }
    }

    button {
        font-family: Roboto;
        flex: 0;
        width: 200px;
        background-color: rgb(68 182 158);
        color: #fff;
        padding: 20px 10px;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 15px;

        svg {
            width: 17px;
            vertical-align: middle;
        }
    }
}